<div class="wrapper ">
	<app-sidebar></app-sidebar>

    <div class="main-panel">
    	<app-header></app-header>

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">New Orders</h4>
                  <p class="card-category"> Unprocessed </p>
                </div>

                <div style="margin-left: 45% !important;">
                	<br/>
	                <div *ngIf="stopUnprocessedOrdersLoading == false" class="margin50percent" style="text-align: center !important;">
	                	<app-atom-spinner [animationDuration]="1000" [size]="60" [color]="'#ff1d5e'"></app-atom-spinner>
	                </div>
	            </div>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Code
                        </th>
                        <th>
                          Customer Name
                        </th>
                        <th>
                          Tel
                        </th>
                        <th>
                          Ordered On
                        </th>
                      </thead>                     

                      <tbody>

                        <tr *ngFor="let order of unprocessedOrdersData" class="orders-table-row" (click)="viewOrderDetails(order.cart_code)">
                          <td>
                            {{order.cart_code}}
                          </td>
                          <td>
                            {{order.buyer_first_name}} {{order.buyer_last_name}}
                          </td>
                          <td>
                            {{order.buyer_tel1}}
                          </td>
                          <td>
                            {{order.checked_out_on_date | date}} {{order.checked_out_on_time | date:'H:mm a'}}
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
